body {
    background: linear-gradient(#e3ffe7 0%, #d9e7ff 100%);
    font-family: 'Inter', sans-serif;
}

.logo-alura {
    margin: 40px 32px;
    width: 32px;
    height: auto;
}

main{
    display: flex;
    justify-content: space-evenly;
  }

  main .container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }

  .contenido-izquierdo {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 300px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .caja-mensaje {
    width: 100%;
    background: #ffffff;
    padding: 20px 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
  }

  .caja-mensaje textarea{
    width: 100%;
    border: none;
    resize: none;
    outline: none;
  }

  .mensaje{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #0a3871;
  }

  textarea::placeholder{
    color: #54759e;
  }

  .text-aviso {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 30px;
    margin-top: 1em;
    padding: 5px 20px;
    background: #fff3cd;
    border-radius: 30px;
    border: 2px solid #ffe084;
  }

  .img-admiracion {
    height: 16px;
    width: 16px;
  }

  .text-descripcion {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
  }